parameters:
	data_dir: %appDir%/DataSources/data/

	database:
		sqlite:
			driver: sqlite3
			file: %data_dir%test_data.db
			profiler: true

nette:
	database:
		pdo:
			dsn: sqlite:%database.sqlite.file%

services:
	dibi_sqlite: DibiConnection(%database.sqlite%)