table.table th.act {
	text-align:left;
	padding-left:15px;
}

table.table th.act.act-select {
	width:60px;
}

.data-grid .act.act-select > .btn-group .dropdown-toggle {
	border-bottom-left-radius:3px;
	border-top-left-radius:3px;
	padding-top:3px;
	padding-bottom:3px;
	padding-right:6px;
}

table.table th.act.act-select > .btn-group .caret {
	margin-left:3px;
}

#checkbox-button {
	float:left;
	cursor:not-allowed;
	margin-left:16px;
	z-index:50;
}

table.table td.with-checkbox {
	padding-left:21px;
}

.datagrid-bottom .pagination {
	margin:0;
}

.right-buttons {
	text-align:right;
}

.data-grid {
	position:relative;
	z-index:20;
	padding-bottom:50px;
}

.data-grid .data-grid {
	padding-bottom:0;
}

.datagrid-bottom {
	position:relative;
	z-index:10;
}

.button-component > div > a,.button-component .dropdown {
	float:left;
	margin-right:5px;
}

.button-component .dropdown {
	margin-top:4px;
}

td.table-striped>tbody>tr.placeholder td {
	background:#f8efc0;
}

.placeholder,tr.placeholder > td {
	border:0;
	background:#747474!important;
	border-radius:0;
}

.data-grid-tree .grid-header {
	margin-bottom:10px;
}

.data-grid-tree span.act.act-select {
	display:inline-block;
	margin-right:10px;
}

.data-grid .pagination-outer {
	position:relative;
}

.data-grid .pager-form {
	display:inline-block;
	position:absolute;
	right:0;
	top:10px;
	width:95px;
}

.data-grid .pager-form .number {
	padding-left:5px;
	padding-right:5px;
}

.data-grid-tree span.separator {
	padding:0 5px;
}

.data-grid-tree ul.grid-ul {
	list-style-type:none;
	padding-left:20px;
	padding-right:20px;
}

.data-grid-tree .tree-grid > ul.grid-ul {
	padding-left:0;
}

.data-grid-tree .tree-grid ul li > div > span {
	display:inline-block;
	margin:0 2px;
}

.data-grid-tree ul.grid-ul ul {
	list-style-type:none;
	margin-top:10px;
}

.data-grid-tree ul.grid-ul li {
	list-style-type:none;
	min-height:30px;
	margin-bottom:10px;
	width:100%;
}

.data-grid-tree ul.grid-ul ul li {
	list-style-type:none;
}

.data-grid-tree ul.grid-ul li:hover {
	background:#ddd;
}

.data-grid-tree ul.grid-ul li:hover li {
	background:#eee;
}

.data-grid-tree ul.grid-ul li:hover li:hover {
	background:#ccc;
}

.grid-selection {
	margin-left:20px;
	height:30px;
}

.ordering .glyphicon {
	display:inline-block;
	padding-left:5px;
}

.pagination-outer {
	text-align:center;
	padding-top:10px;
}

.data-grid .editable-input {
	border:1px solid #aaa;
	padding:1px 0;
}

.ui-timepicker-div .ui-widget-header {
	margin-bottom:8px;
}

.ui-timepicker-div dl {
	text-align:left;
}

.ui-timepicker-div dl dt {
	float:left;
	clear:left;
	padding:0 0 0 5px;
}

.ui-timepicker-div dl dd {
	margin:0 10px 10px 45%;
}

.ui-timepicker-div td {
	font-size:90%;
}

.ui-tpicker-grid-label {
	background:none;
	border:none;
	margin:0;
	padding:0;
}

.ui-timepicker-rtl {
	direction:rtl;
}

.ui-timepicker-rtl dl {
	text-align:right;
	padding:0 5px 0 0;
}

.ui-timepicker-rtl dl dt {
	float:right;
	clear:right;
}

.ui-timepicker-rtl dl dd {
	margin:0 45% 10px 10px;
}

.empty-data {
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}

.dropdown-component {
	float:left;
	margin-right:5px;
	margin-top:4px;
}

.button-component {
	float:left;
	text-align:left;
}

.data-grid table.table td,.data-grid table.table th {
	vertical-align:middle;
}

.sortable-column {
	width:44px;
	text-align:center;
}

.with-actions {
	text-align:center;
}

td.button-component {
	float:none;
}

.data-grid table.table td.subgrid-button {
	vertical-align:top;
}

.main-checkbox,.select-checkbox {
	width:24px;
}

.ordering .glyphicon{
	display: inline-block;
	padding-left: 5px;
}
.ordering .order-asc,
.ordering .order-desc{
	display: none;
}
.ordering.asc .no-sort,
.ordering.desc .no-sort,
.ordering.asc:hover .order-asc,
.ordering:hover .no-sort{
	display: none;
}
.ordering:hover .order-asc,
.ordering.asc .order-asc{
	display: inline-block;
}
.ordering.asc:hover .order-desc,
.ordering.desc .order-desc{
	display: inline-block;
}
.ordering.desc:hover .order-asc,
.ordering.desc:hover .order-desc{
	display: none;
}
.ordering.desc:hover .no-sort{
	display: inline-block;
}

.data-grid-tree ul.grid-ul li .right-buttons,.export,.show-export {
	float:right;
}
.empty-data{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.dropdown-component{float:left;margin-right:5px;margin-top:4px}
.button-component{float:left;text-align:left}
.data-grid table.table td,.data-grid table.table th{vertical-align:middle}
.sortable-column{width:44px;text-align:center}
.with-actions{text-align: center}
.data-grid table.table td.subgrid-button{vertical-align: top}
.select-checkbox{width: 24px}