.mesour-datagrid table > thead > tr > th {
    position: relative;
    border-right: 1px solid #ddd;
    background: #fff;
    height: 42px;
    padding: 6px 8px;
}

.mesour-datagrid table > thead > tr > th > span {
    color: #337ab7;
}

.mesour-datagrid table[data-mesour-enabled-filter="1"] > thead > tr > th {
    background: #f9eee2;
}

.mesour-datagrid table > tbody > tr > td.actions-column,
.mesour-datagrid table > thead > tr > th.sortable-column,
.mesour-datagrid table > thead > tr > th.act-select,
.mesour-datagrid table > tbody > tr > td.button-component,
.mesour-datagrid table > thead > tr > th.column-status {
    width: 1%;
    white-space: nowrap;
}

.mesour-datagrid-list {
    list-style-type: none;
    padding-left: 0;
}

.mesour-datagrid-list li {

}

.mesour-datagrid table > tbody > tr > td {
    border-right: 1px solid #ddd;
    padding: 6px 8px;
    vertical-align: middle;
}

.mesour-datagrid table > tbody > tr > td.subgrid-button {
    vertical-align: top;
}

.mesour-datagrid table > tbody > tr > td .btn-sm {
    padding: 4px 8px 6px 8px;
    font-size: 13px;
    line-height: 1;
    border-radius: 3px;
}

.mesour-datagrid table > tbody > tr > td .btn-sm.btn-sm-grid {
    padding: 4px 9px 4px 9px;
}

.mesour-datagrid table > tbody > tr > td:last-child,
.mesour-datagrid table > thead > tr > th:last-child {
    border-right: none;
}

.mesour-datagrid table > thead > tr > th[data-with-filter] {
    height: 74px;
}

.mesour-datagrid table[data-mesour-enabled-filter="1"] > thead > tr > th > a:first-child,
.mesour-datagrid table[data-mesour-enabled-filter="1"] > thead > tr > th > span:first-child {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    color: #337ab7;
    margin-left: 0px;
    border-bottom: 2px solid #ddd;
    background: #fff;
    padding: 10px 10px 5px 10px;
    white-space: nowrap;
}

.mesour-datagrid .container-content,
.mesour-datagrid .status-buttons {
    display: inline-block;
}

.mesour-datagrid .table {
    margin-bottom: 10px;
}

.mesour-datagrid table[data-mesour-enabled-filter="1"] .full-reset {
    float: right;
}

.mesour-datagrid table[data-mesour-enabled-filter="1"] .column-container .full-reset {
    float: none;
}

.mesour-datagrid .act-select {
    vertical-align: top;
}

.mesour-datagrid .act-select,
.mesour-datagrid .column-container {
    text-align: center;
}

/* inline filter */

.mesour-datagrid table th .dropdown.mesour-filter-dropdown > button,
.mesour-datagrid table th .dropdown.mesour-filter-dropdown > button {
    min-width: 100px;
}

.mesour-datagrid table td.button-component {
    text-align: center;
}

.mesour-datagrid table th.column-status .dropdown.mesour-filter-dropdown > button,
.mesour-datagrid table th.column-status .dropdown.mesour-filter-dropdown > button {
    min-width: inherit;
}

.mesour-datagrid table th .dropdown.mesour-filter-dropdown.active-checkers > button,
.mesour-datagrid table th .dropdown.mesour-filter-dropdown.active-item > button {
    border-color: #c9302c;
}

.mesour-datagrid table th .dropdown.mesour-filter-dropdown.active-item > button > [data-filter-icon="check"] + span,
.mesour-datagrid table th .dropdown.mesour-filter-dropdown.active-checkers > button > [data-filter-icon="check"] {
    color: #c9302c;
}

/* / inline filter */

.ordering .order-asc,
.ordering .no-sort,
.ordering .order-desc {
    display: inline-block;
    padding-left: 5px;
    color: #c9302c;
}

.ordering .order-asc,
.ordering .order-desc {
    display: none;
}

.ordering .no-sort {
    color: #ccc;
}

.ordering.asc .no-sort,
.ordering.desc .no-sort,
.ordering.asc:hover .order-asc,
.ordering:hover .no-sort {
    display: none;
}

.ordering:hover .order-asc,
.ordering.asc .order-asc {
    display: inline-block;
}

.ordering.asc:hover .order-desc,
.ordering.desc .order-desc {
    display: inline-block;
}

.ordering.desc:hover .order-asc,
.ordering.desc:hover .order-desc {
    display: none;
}

.ordering.desc:hover .no-sort {
    display: inline-block;
}

.mesour-datagrid-pager {
    text-align: center;
    clear: both;
    padding-bottom: 10px;
}

.mesour-datagrid-pager + .selection-dropdown {
    top: -54px;
}

.mesour-datagrid-pager > div.row {
    margin-right: 0;
    margin-left: 0;
}

.mesour-datagrid-pager > div {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.mesour-datagrid-pager nav ul.pagination {
    margin: 10px 0;
}

.mesour-datagrid-pager .input-group {
    padding-top: 10px;
}

.mesour-datagrid-pager .row-count {
    border-left: none;
}

.mesour-datagrid-pager .form-control {
    text-align: right;
    padding-right: 5px;
    padding-left: 10px;
    float: right;
    border-right: 1px solid #dfdfdf;
    min-width: 35px;
}

.mesour-datagrid-pager .form-control + span {
    padding-left: 0;
    padding-right: 10px;
    border-left: none;
}

.mesour-datagrid-pager .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 768px) {
    .mesour-datagrid-pager .col-xs-12 {
        width: 100%;
        padding-right: 10px;
    }

    .mesour-datagrid-pager .col-xs-12 .input-group {
        float: none;
        text-align: left;
        padding-top: 0;
        padding-bottom: 10px;
    }

    .mesour-datagrid-pager .col-xs-12 .input-group .form-control {

    }
}

@media (max-width: 990px) {
    .mesour-datagrid-pager .col-xs-12 {
        width: 100%;
    }

    .mesour-datagrid-pager .col-xs-12 .input-group {
        float: none;
        text-align: left;
        padding-top: 0;
        padding-bottom: 10px;
    }

    .mesour-datagrid-pager .col-xs-12 .input-group .form-control {

    }
}

@media (max-width: 638px) {
    .mesour-datagrid-pager .col-xs-12 {
        width: 100%;
    }

    .mesour-datagrid-pager .col-xs-12 .input-group {
        float: none;
        text-align: left;
        padding-top: 0;
        padding-bottom: 10px;
    }

    .mesour-datagrid-pager .col-xs-12 .pagination li:first-child,
    .mesour-datagrid-pager .col-xs-12 .pagination li:last-child {
        display: none;
    }
}

.mesour-datagrid tr.checked td {
    background-color: #fffadf;
}

.mesour-datagrid tr.checked:nth-child(odd) td {
    background-color: #fff8d2;
}

.table-hover > tbody > tr.checked:hover,
.table-hover > tbody > tr.checked:hover td {
    background-color: #fff5bf;
}

.mesour-datagrid table > thead > tr > th > .grid-move:first-child {
    padding-left: 8px;
    height: 30px;
    color: #337ab7;
    padding-top: 8px;
}

.mesour-datagrid table[data-mesour-enabled-filter="1"] > thead > tr > th > .grid-move:first-child {
    padding-left: 16px;
    height: 39px;
    color: #337ab7;
    padding-top: 12px;
}

.mesour-datagrid td.table-striped > tbody > tr.placeholder td {
    background: #f8efc0;
}

.mesour-datagrid .placeholder, tr.placeholder > td {
    border: 0;
    background: #747474 !important;
    border-radius: 0;
}

.mesour-datagrid .placeholder > .container-content > span,
.mesour-datagrid .container-content > span {
    display: inline-block;
}

.mesour-datagrid table > tbody > tr > td.grid-sortable {
    vertical-align: middle;
}

.mesour-datagrid table > tbody > tr > td.grid-checkbox {
    vertical-align: middle;
    padding-left: 21px;
}

.mesour-datagrid .empty-data {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mesour-datagrid .show-export {
    float: right;
}

.mesour-datagrid .selection-dropdown {
    float: left;
}

.mesour-datagrid .selection-dropdown[data-name] > button:first-child {
    padding: 0 7px 0 0;
    color: #337ab7;
    border-color: #337ab7;
}

.mesour-datagrid .selection-dropdown[data-name] > button:first-child > a:first-child {
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-color: #337ab7;
    margin-right: 4px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.mesour-datagrid .mesour-clear {
    border: none;
    width: 100%;
    background: transparent;
    clear: both;
}